<main class="mt-5">
    <div class="container">
        <div class="card mx-auto" style="width:600px;">
            <div class="card-header">
                <img src="/img/logo.png" alt="logo" class="card-img-top mx-auto m-2 rounded-circle" 
                style="width: 150px; height: 150px;display:block;">
                <h3 class="text-uppercase text-center p-4"> CRUD Node JS y MySQL</h3>
            </div>

            <div class="card-body text-center">
                <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Suscipit unde ea optio repellat dignissimos, reiciendis incidunt delectus, provident molestias harum iste voluptatibus necessitatibus. Facere voluptate quae numquam, autem inventore veniam! </p>
                <a href="" class="btn btn-primary"> Crear una persona </a>
            </div>
        </div>
    </div>
</main>